.submit-btn,
.result {
  margin-left: 0;
}

.day,
.night {
  margin-bottom: 20px;
}

footer.row {
  overflow: hidden;
  width: 100%;
  position: absolute;
  height: 50px;
  line-height: 50px;
  color: rgba(255,255,255,.6);
  background-color: rgba(0,0,0,.4);
  text-align: center;
  font-size: .8rem;
  margin: 0;
  right: 0;
}

footer div {
  margin: auto;
}

footer strong {
  color: #fff;
}